.contPages{
    background-color: bisque;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    margin-bottom: 10px;
}

.buttonC{
    background-color: cornflowerblue;
    width: 30px;
    height: 40px;
    border-radius: 10px;
    margin-top: 6px;
}

.button{
    width: 30px;
    height: 40px;
    border-radius: 10px;
    margin-top: 6px;
}

.buttonPages{
    width: 30px;
    height: 40px;
    border-radius: 10px;
    margin-top: 6px;
}