.globalCont{
    display: flex;
}

.contVideogames{
    background-color: aquamarine;
    width: 80%;
}

.ContCards{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filtersCont{
    background-color:darkred;
    color:white;
    width: 15%;
    display:flex;
    flex-direction: column;
}


